/* Colors */
/* #071e3d */
/* #1f4287 */
/* #278ea5 */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #071e3d;
  font-family: 'Roboto', sans-serif;
}

.title {
  background-color: #1f4287;
  color: white;
  padding: 12px;
  text-align: center;
}

#filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px;
}

.filter-element {
  background-color: #1f4287;
  color: white;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 6px;
  cursor: pointer;
}

.filter-element:hover {
  background-color: #278ea5aa;
}

.filter-active {
  background-color: #278ea5;
}

#gallery-container {
  width: 90%;
  margin: 0 auto;
  column-count: 3;
  column-gap: 0.5rem;
}

.gallery-image {
  width: 100%;
  margin-bottom: 0.5rem;
}

.gallery-image.hide-image {
  display: none;
}

@media (max-width: 920px) {
  #gallery-container {
    column-count: 2;
  }
}
